@import url(./main.css);

html, body {
    height: 100%;
}

body {
    /* Flex box: center everything vertically */
    align-items: center;
}

.wrapper {
    text-align: center;
}

.nav {
    text-align: center;
}

.nav a {
    color: #aaa;
    font-weight: 200;
    margin-right: 0.75em;
    -webkit-transition: color 100ms;
    transition: color 100ms;
}

.nav a:hover {
    color: #3486ff;
}

@media only screen and (min-width: 760px) {
    .wrapper {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
}
