@import url(./main.css);

body {
    /* Flex box: center everything vertically */
    align-items: center;
}

.wrapper {
    margin-top: 120px;
    padding: 60px 0 8px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.wrapper {
    width: 640px;
    text-align: center;
}

header {
    margin-bottom: 60px;
}

footer {
    margin: 0;
    padding: 0;
}

.nav {
    text-align: center;
}

.nav a {
    color: #aaa;
    font-weight: 200;
    margin-right: 0.75em;
    -webkit-transition: color 100ms;
    transition: color 100ms;
}

.nav a:hover {
    color: #3486ff;
}
