@import url(https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);

html,
body,
div,
h1, h2, h3, h4, h5, h6,
header, footer {
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    background-color: white;
}

body {
    /* Flex box: center everything horizontally */
    display: flex;
    justify-content: center;
    font-size: 10pt;
    letter-spacing: 1px;
}

main > header {
    border-bottom: 1px solid #ddd;
}

h1 {
    font-family: "Love Ya Like A Sister", Georgia, serif;
    font-size: 4em;
    margin-bottom: 0.25em;
}

h1, a:hover {
    /*color: #ee2e64;*/
    color: #3486ff;
}

h1 small {
    font-family: Helvetica, Arial, sans-serif;
}

h1 a {
    color: inherit;
}

h1 a:hover {
    color: inherit;
}

p, li, dt, dd {
    font-weight: 200;
    line-height: 1.4em;
}

a {
    color: #44accf;
    text-decoration: none;
    -webkit-transition: color 100ms;
    transition: color 100ms;
}

nav {
    border-top: 1px solid #ddd;
}

@media only screen and (max-width: 500px) {
    header {
        margin-bottom: 20px;
    }

    nav {
        margin-top: 20px;
    }

    .wrapper {
        width: 100%;
        padding: 0 8px;
    }
}

@media only screen and (min-width: 500px) {
    header {
        margin-bottom: 40px;
    }

    nav {
        margin-top: 40px;
        padding-top: 8px;
    }

    .wrapper {
        width: 480px;
        padding: 0 0 8px 0;
    }
}

@media only screen and (min-width: 760px) {
    body {
        font-size: 13pt;
    }

    h1 {
        font-size: 4em;
    }

    .wrapper {
        width: 640px;
    }
}
